<div
  class="border"
  [ngStyle]="styleConfig"
  [ngClass]="{ 'border-green': product.price < 50 }"
>
  <ul>
    <li>Id: {{ product.id }}</li>
    <li id="name">Name: {{ product.name }}</li>
    @if (showPrice) {
    <li>Preis: {{ product.price | currency : "€" }}</li>
    <li>Preis Netto: {{ product.price | netto | currency : "€" }}</li>
    <li>Preis Netto 7%: {{ product.price | netto : 7 | currency : "€" }}</li>
    <li>
      Preis Brutto 7%:
      {{ product.price | netto : 7 : "brutto" | currency : "€" }}
    </li>
    }
    <li>Gewicht: {{ product.weight }}</li>
  </ul>
  <input type="number" #price />
  <button (click)="changePrice(price.value)">Preis ändern</button>
  <button (click)="raisePrice()">Preis erhöhen</button> <br />
  <button (click)="togglePrice()">Preis ein/ausblenden</button> <br />
</div>
